<!DOCTYPE HTML>
<html>
<head>
<title>Test AJAX</title>
<script>
    function v()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/v')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
<script>
    function vup()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/vup')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
    <script>
    function vr()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/v-r')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
    <script>
    function vl()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/v-l')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
    <script>
    function n()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/n')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
    <script>
    function nl()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/nl')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
    <script>
    function vr()
    {
        var req = new XMLHttpRequest()
        req.open('POST', '/nr')
        req.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        <!--var postVars = 'I am sexy'-->
        req.send()
        return false
    }
</script>
</head>
<body>
<h1>Flask AJAX Test</h1>
<form action="" method="POST">

<input type="button" value="Submit" id="1" onclick="return v()" onmouseup="return vup()">
    <input type="button" value="Submit" id="1" onclick="return vr()">
    <input type="button" value="Submit" id="1" onclick="return vl()">
    <input type="button" value="Submit" id="1" onclick="return n()">
    <input type="button" value="Submit" id="1" onclick="return nr()">
    <input type="button" value="Submit" id="1" onclick="return nl()">
</form>
<div id="myDiv"></div>
</body>
</html>